.inpuField{
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    height: 45px;
}
.white{
    background-color: #fff;
}
.gray{
    color: #929292;
}
.black{
    color: #000;
}
.offWhite{
    background-color: #d2d4d652;
}