.skillItem{
    font-size: 15px;
    color: #000;
    margin: 10px 0;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.skillItem:hover{
    color: #2394ae;
}
.skillItem {
    .icon{
        font-size: 20px;
        color: #2394ae;
        padding-right: 5px;
    }
}