.usersBtnsAccSet {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px solid #EFEFEF;
    justify-content: space-between;
    button{
        span:first-child{
            color: #2394ae;
            font-size: 16px;
        }
    }
}
.table{
    width: 100%;
    font-size: 16px;
    tr{
        th {
            min-width: 150px;
            padding: 15px 20px;
            font-weight: 400;
            color: #000;
        }
        td{
            padding: 10px 20px;
            color: #000;
            font-weight: 300;
        }
    }
}